.container {
  display: flex;
  justify-content: center;

  width: 1440px;

  background: #fff;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;

  width: 1128px;
  margin: 0;
  padding: 0;

  list-style: none;
}
.gallery-item {
  display: flex;
  justify-content: center;
  flex-basis: calc((100% - 48px) / 3);
}
.gallery-image {
  display: block;
  object-fit: cover;
  width: 360px;
  height: 200px;
}
.modal {
  width: 1440px;
  height: 696px;
  background: rgba(46, 47, 66, 0.8);
}
